<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
      </div>
      <h4 class="page-title">變更密碼</h4>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <%= form_for(:admin, url: admin_password_path,:html => {class: 'needs-validation', :novalidate => 'novalidate', method: 'PUT' ,inline_errors: true }  ) do |f| %>
  <div class="box-body">
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">舊密碼</label>
          <div class="col-md-8">
            <%= f.text_field :origin_password, class: 'form-control' %>
          </div>
      </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">新密碼</label>
          <div class="col-md-8">
            <%= f.text_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">新密碼確認</label>
          <div class="col-md-8">
            <%= f.text_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <%= f.submit "更新", class: "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>