 <!--slider-->
<section class="inside-page-banner">
  <div class="light_Banner_container_table inside-banner">
    <div class="light_Banner_container_table_cell">
      <h2>About us</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="inside-banner-contain" style="background-image: url(<%= image_url 'about-us.jpg' %>);"></div>
</section>
<!--content-->
<section>
  <div class="container2 content2">
    <div id="section2-txt" class="content2_txt">
      <h2>Our Value!</h2>
      <h4>Build a bridge for your journey</h4>
      <p>Sleep in a comfortable bed, enjoy a finger licking late-night supper and a hearty breakfast. Hotel is the most important bridge connecting the travelers and their journey. Kindness Day Hotel will recharge your energy to move forward with adventurous life.</p>
    </div>
    <div id="section2-pic" class="content2_pic">
      <div class="overlay_light"></div>
      <img class="mask" src="<%= image_url '00-ourvalue.jpg' %>" alt="">
    </div>
  </div>
</section>
<section id="inside-section" class="container clearfix">
  <div class="about-content clearfix">
    <div class="about-left">
      <div class="about-txt">
        <span>01</span>
        <h4>Slow down the pace during your travel and keep you company throughout your relaxing vacation.</h4>
        <p>Enjoy every moment of your journey. Creating mutual memories, you and everyone you met will forge unforgettable relationships after experiencing all the delightful and exciting encounters during the trip.     “Hotel” as the vocation getaway, we understand how important it is for you to make these experiences even more memorable.</p>
      </div>
    </div>
    <div class="about-right fadetran-img">
      <img class="mask2" src="<%= image_url '01-right.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
  <div class="about-content clearfix">
    <div class="about-right">
      <div class="about-txt">
        <h4>The most essential thing during your trip will be guarded by Kindness Day</h4>
        <span>02</span>
        <p>Kindness Day has the mission to create a better resting ambiance; with strict standards to maintain clean rooms, hygiene dining environments and comprehensive travel assistance, we will guarantee your satisfaction at all scopes.</p>
      </div>
    </div>
    <div class="about-left fadetran-img">
      <img class="mask2" src="<%= image_url '02-left.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
  <div class="about-content clearfix">
    <div class="about-left">
      <div class="about-txt">
        <h4>Enjoy every moment of your journey.</h4>
        <span>03</span>
        <p>To make all of our customers enjoy travel tomorrow, we would like to provide you with the most excellent accommodation experience. Clear your mind, put your work aside, recover your everyday stresses that life throws at you, and create time for chilling —— starting a crazy city adventure right now! 
Kindness Day, always be your oasis in the bustling city.</p>
      </div>
    </div>
    <div class="about-right fadetran-img">
      <img class="mask2" src="<%= image_url '03-right.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
</section>
<section class="greybg clearfix">
  <div class="container-full">
    <div class="aboutvideo">
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/BK5zLgyziEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>