<!--slider-->
<section class="inside-page-banner">
  <div class="light_Banner_container_table inside-banner">
    <div class="light_Banner_container_table_cell">
      <h2>About us</h2>
    </div>
  </div>
  <div class="overlay"></div>
  <div class="inside-banner-contain" style="background-image: url(<%= image_url 'about-us.jpg' %>);"></div>
</section>
<!--content-->
<section>
  <div class="container2 content2">
    <div id="section2-txt" class="content2_txt">
      <h2>Our Value!</h2>
      <h4>為你的旅程築起橋梁</h4>
      <p>睡在舒適的床鋪、享受美味的宵夜、吃頓豐盛的早餐。「旅館」是旅人與旅程最重要的橋梁，康橋慢旅為你充飽能量，大步前行！</p>
    </div>
    <div id="section2-pic" class="content2_pic">
      <div class="overlay_light"></div>
      <img class="mask" src="<%= image_url '00-ourvalue.jpg' %>" alt="">
    </div>
  </div>
</section>
<section id="inside-section" class="container clearfix">
  <div class="about-content clearfix">
    <div class="about-left">
      <div class="about-txt">
        <span>01</span>
        <h4>放慢旅行的腳步 <br>
          與你共伴美好時光</h4>
        <p>當你外出旅行、拓展視野，鼓起雀躍的心情。事後回想，你與旅伴共有的美好回憶，會是一輩子的羈絆。而『旅館』做為一個旅途中繼，我們明白這對你有多重要。</p>
      </div>
    </div>
    <div class="about-right fadetran-img">
      <img class="mask2" src="<%= image_url '01-right.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
  <div class="about-content clearfix">
    <div class="about-right">
      <div class="about-txt">
        <h4>旅途中最重要的事情 <br>由我們來守護</h4>
        <span>02</span>
        <p>康橋慢旅致力營造舒適且舒眠的環境，用嚴格的標準守護你在乎的事，包括乾淨的房間、整潔的用餐環境、衛生的出餐細節以及完整的旅遊交通資訊。</p>         
      </div>
    </div>
    <div class="about-left fadetran-img">
      <img class="mask2" src="<%= image_url '02-left.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
  <div class="about-content clearfix">
    <div class="about-left">
      <div class="about-txt">
        <h4>難得出來玩<br>
          就是要開開心心</h4>
        <span>03</span>
        <p>為了迎接明日的旅途，我們期許每位旅客得到最完善的住宿體驗，好好充電再出發。康橋慢旅是繁忙都市中的綠洲，在這裡你可以把工作及煩惱都丟到一旁，愜意地開啟一場城市探險！</p>
      </div>
    </div>
    <div class="about-right fadetran-img">
      <img class="mask2" src="<%= image_url '03-right.jpg' %>" alt="">
    </div>
  </div>
  <!--about content-->
</section>
<section class="greybg clearfix">
  <div class="container-full">
    <div class="aboutvideo">
      <iframe width="100%" height="500" src="https://www.youtube.com/embed/BK5zLgyziEs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>