<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">全站設定</h4>
    </div>
  </div>
</div>
<%= bootstrap_form_for([:admin, @setting], url: admin_setting_path, method: 'PUT' ,inline_errors: true, enctype: "multipart/form-data") do |f| %>
<div class="card">
  <div class="card-body">  
      <div class="box-body">
        <div class="row">
          <div class="col-md-6">
            <%= f.hidden_field :id %>
            <%= f.text_field :keyword, label: 'SEO 關鍵字' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_area :description, label: 'SEO 描述' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :copyright, label: 'Copy Right' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :designed, label: 'designed' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :fb_url, label: 'Facebook連結' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :easytravel_url, label: '四方通行連結(中文)' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :tripadvisor_url, label: 'Tripadvisor連結(中文)' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :booking_url, label: 'Booking.com 連結(英文)' %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :tripadvisor_en_url, label: 'Tripadvisor連結(英文)' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :ig_url, label: 'IG連結' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :hr_url, label: '人才募集連結' %>
          </div>
        </div>
        
      </div>
      <div class="box-footer">
        <%= f.submit "更新全站設定", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
</div>

<% end %>
<% content_for :page_javascript do %>
  <script>
    $(function(){
     $("#banner").on("change", function(){
       var file_name = $("#banner").val()
       if(file_name) {
         $("#banner").parent().children()[1].innerText = file_name
       }
     })
    })
  </script>
<% end %>